{% extends "base.html" %}
{% block content %}
<div class="homepage_grid">
    <script type="text/javascript">

        $(document).ready(function() {
            // execute functions once
            updateData()
            updateStundenplan()
            refresh_sec_feed()

            // and then set timers for them at different intervals
            var Timer_updateData = setInterval(updateData, 6000);
            var Timer_updateToDos = setInterval(updateToDos, 60000);
            var Timer_refresh_sec_feed = setInterval(refresh_sec_feed, 70000);
            var Timer_updateWOTD = setInterval(updateWOTD, 600000);
            var Timer_updateStundenplan = setInterval(updateStundenplan, 600000)
        });

        var last_temp_desc = "";
        function updateData() {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT+"/_getHomeData",
                function(data) {
                    document.getElementById('timestamp').innerHTML = data.time;
                    document.getElementById('date').innerHTML = data.date;
                    
                    document.getElementById('tempstamp').innerHTML = data.temp;
                    document.getElementById('tempdesc').innerHTML = data.temp_desc;

                    if (last_temp_desc != data.temp_desc) {
                        document.getElementById('headerbgid').style.backgroundImage = "linear-gradient(to bottom, transparent 0 17%, #fff), url('../static/pics/weather/final/" + data.bg_image[0] + "')";
                        
                        document.getElementById('time').style.color = data.bg_image[1];
                        document.getElementById('temperature').style.color = data.bg_image[1];

                        if (data.bg_image[1] == '#fff') {
                            document.getElementById('time').style.textShadow = "0px 0px 8px black";
                            document.getElementById('temperature').style.textShadow = "0px 0px 8px black";
                        }
                        else {
                            document.getElementById('time').style.textShadow = "";
                            document.getElementById('temperature').style.textShadow = "";
                        }

                    }
                    last_temp_desc = data.temp_desc;
                });   
        }

        function updateToDos() {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT+"/_getToDos",
                function(data) {
                    const notion_table = document.getElementById("notion_table");
                    var count = 0;
                    $("#notion_table tr").remove(); 

                    data.todos.forEach(todo => {
                        let row = notion_table.insertRow();

                        let deadline_date = row.insertCell(0);
                        deadline_date.innerHTML = data.todos[count][0];
                        let name = row.insertCell(1);
                        name.innerHTML = data.todos[count][1];
                        let priority = row.insertCell(2);
                        priority.innerHTML = data.todos[count][2];
                        let deadline_time = row.insertCell(3);
                        deadline_time.innerHTML = data.todos[count][3];

                        count++;
                    });
                });
            
        }

        function refresh_sec_feed() {
            var sec_feed1 = document.getElementById('security_live_feed1');
            sec_feed1.src = 'http://192.168.178.94:80/mjpeg/1?rand=' + Math.random();
            sec_feed1.style.display = 'block';

            // if src invalid --> hide <img>
            sec_feed1.onerror = function(){
                sec_feed1.style.display = 'none';
            };
        }

        function updateWOTD() {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT+"/_getWOTD",
                function(data) {
                    document.getElementById('wotd_heading').innerHTML = data.word[0];
                    document.getElementById('wotd_description').innerHTML = data.word[1];
                });
        }

        function updateStundenplan() {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.ajax({
                url: "/_getStundenplan",
                type: "get",
                success: function(response) {
                    if (response[0] != "None") {
                        $("#stundenplan").show();
                        $("#stundenplan").html(response[0]);

                        if (response[1] != "None") {
                            $("#primum_time").html("Primum morgen um <span style='color: #337ab7;'>" + response[1] + "</span>");
                        }
                        else {
                            $("#primum_time").html("Morgen sind keine Veranstaltungen eingetragen ☕️");
                        }
                    }
                    else {
                        $("#stundenplan").hide();
                        $("#uni_heading").css("margin-bottom", "1vw");

                        if (response[1] != "None") {
                            $("#primum_time").html("Heute keine Veranstaltungen ☕️ Primum morgen um <span style='color: #337ab7;'>" + response[1] + "</span>");
                        }
                        else {
                            $("#primum_time").html("Heute und Morgen sind keine Veranstaltungen eingetragen ☕️");
                        }
                    }

            }
            });
        }

    </script>

    <div class="header">
        <div class="time" id="time" style="color: {{bg_image[1]}}; {% if(bg_image[1] == '#fff') %} text-shadow: 0px 0px 8px black; {% endif %}">
            <span id="timestamp">{{weather[0]}}</span>
            <div class="heading_subtext" id="date">
                {{weather[1]}}
            </div>
        </div>
        <div class="temperature" id="temperature" style="color: {{bg_image[1]}}; {% if(bg_image[1] == '#fff') %} text-shadow: 0px 0px 8px black; {% endif %}">
            <span id="tempstamp">{{weather[2]}}</span>
            <div class="heading_subtext" id="tempdesc">
                {{weather[3]}}
            </div>
        </div>
    </div>
    <div class="main">
        <p class="medium_heading">Erinnerungen</p>
        <div class="todos">
            <table>
                <tbody id="notion_table">
                {% for i in range (todos|count) %}
                    <tr>
                        <td>{{todos[i][0]}}</td>
                        <td>{{todos[i][1]}}</td>
                        <td>{{todos[i][2]}}</td>
                        <td>{{todos[i][3]}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>  
    <div class="right">
        <div class="wordoftheday">
            <p class="medium_heading">Wort des Tages</p>
            <div>
                <span id="wotd_heading">{{word[0]}}</span>
                <br>
                <span id="wotd_description">{{word[1]}}</span>
            </div>
            <div class="security">
                <p class="medium_heading">Security</p>
                <img src="http://192.168.178.94:80/mjpeg/1" class="security_live_feed" id="security_live_feed1">
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="uni">
            <p class="medium_heading" style="margin-bottom: 0;" id="uni_heading">Uni-Stundenplan</p>
            <table id="stundenplan"></table>
            <table id="va_morgen">
                <tr><td id="primum_time"></td></tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}