.container {            /* container of base template */
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 3.5vw 5.1vw;
    z-index: 1;
}

/* Grid layout stuff */

.homepage_grid { 
    display: grid;
    grid-template-columns: 75% 25%;
    gap: 10px;
    padding: 10px;
}

.homepage_grid > div {
    
    padding: 20px 0;
    font-size: 30px;
}

.header, .footer {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
}

.main, .right {
    margin-top: 3vw;
}

.main {
    margin-right: 17vw;
}


.wordoftheday {
    font-size: 1vw;
}

.medium_heading {
    font-size: 1.3vw;
    font-weight: 300;
    margin-bottom: 1vw;
}

#wotd_heading {
    font-weight: bold;
}


.time, .temperature {    
    font-size: 4vw;
    font-weight: 300;
    /* font color is generated dynamically through views.py and applied in home.html */
}

.todos td {
    font-size: 1.1vw;
    padding: 0 1.3vw 0.433vw 0;
}

.heading_subtext {
    font-size: 1vw;
    font-weight: normal;
    text-align: center;
}


.footer {
    display: block;
    margin-top: 1vw;
}

.headerbg {
    margin: 0;
    position: relative;
    height: 100%;

    background-size: cover;
    
    background-position: top center;
    background-repeat: no-repeat;
}

.security_live_feed {
    border-radius: 1vw;
    width: 30vw;
    max-width: 480px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.security {
    bottom: 3.5vw;
    position: fixed;
}

#stundenplan {
    width: 70%;
}

#stundenplan td {
    font-size: 1.1vw;
    min-width: 10vw;
}

#stundenplan #veranstaltungsfrei {
    font-size: 0.8vw;
}

#stundenplan {
    border-collapse: separate;
    border-spacing: 0 1.75vh;
}

#va_morgen td{
    font-size: 0.8vw;
    padding: 7px 15px;
}

#va_morgen {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1vw;
    width: 70%;
}

#primum_time {
    text-align: center;
}



/* Shadow effect on main and right content
.todos {
    width: fit-content;
}

.todos, .wordoftheday div {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    border-radius: 1vw;
    padding: 1vw;
}
/*